<h1>problems index page</h1>
<% @problems.each do |problem| %>
<p> Title: <%= problem.title %> </p>

<%= link_to 'Show', problem_path(problem.id) %>

<% end %>

<%= link_to 'Create New', new_problem_path %>