<h1>Challenges - View All page</h1>

<div class="row">
  <div class="col-md-6 ml-auto" >
    <% @problems.each do |problem| %>
    <div class="card-header"> <%= link_to problem.title, problem_path(problem.id) %> </div>
    <div class="card-body"><%= problem.body %></div>
    <% end %>
  </div>
</div>
  <div class="row fixed-bottom justify-content-end">
    <h1>Challenges</h1>
  </div>
</div>