<h1> Problems Show Page </h1>

<div>
  <h3>Title: <%= @problem.title %></h3>
  <h3>Description: <%= @problem.body %></h3>
</div>

<%= link_to 'Suggest Solution', new_problem_solution_path(@problem.id) %>
<%= link_to 'View Solutions for this Problem', problem_solutions_path(@problem.id) %>