<ul class="nav">
  <li class="nav-item">
    <div class="nav-link active"> <%= link_to 'See All Challenges', problems_path %></div>
  </li>
  <li class="nav-item">
    <div class="nav-link"> <%= link_to 'Search Challenges', authenticated_root_path %></div>
  </li>
  <li class="nav-item">
    <div class="nav-link"> <%= link_to 'List New Challenge', new_problem_path %></div>
  </li>
  <li class="nav-item">
    <div class="nav-link"> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </div>
  </li>
  <li class="nav-item">
    <div class="nav-link disabled">Blog</div>
  </li>
</ul>