<div class="row home-index">
  <h1 class="col-3 text-right">Minimalist</h1>
</div>
<div class="row">
  <h1 class="col-4 text-right" >Apartment</h1><h3 class="col-4 text-right"><%= link_to 'Sign In', new_user_session_path %></h4>
</div>
<div class="row">
  <h1 class="col-4 text-right" >Living</h1><h4 class="col-4 text-right"><%= link_to 'Sign Up', new_user_registration_path %></h4>
</div>
<div class="col-6 text-right">
  <p> Blog Link Here </p>
</div>
<div class="row fixed-bottom justify-content-center home-index"> 
  <h1 class="col"> a community of apartment enthusiasts</h1>
</div>