// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.problem-body {
  color: lightslategray;
  background-color: rgb(228, 228, 228);
}
a {
  color: whitesmoke;
}