// Place all the styles related to the solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.solution-body {
  color: whitesmoke;
  background-color: rgb(41, 38, 38);
}
img {
  width: 200px;
  height: 200px;
}
#solution-card {
  color: whitesmoke;
  background-color: rgb(41, 38, 38);
  border: 2px solid whitesmoke;
  margin: 50px;
  padding: 20px;
}